.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    border: groove;
}
.title{
    padding-left:50px;
    color:#223850;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:15px;
    font-size:30px;
}
.headerLine{
    background-color:#98cb00;
    height:25px;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:#223850;
}
.footerline{
    background-color:#98cb00;
    height:35px;
    font-weight:bold;
    font-size:25px;
    text-align:center;
    color:#223850;
}
.PaymentHeader{
    color:#223850;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:15px;
    font-size:30px;
    padding-left:225px;
}
.tablesecond{
    margin-left:235px;
    background-color:#ffcb99;
    width:75%;
    height: 100%;
}
.columnSecond{
    width:540px;
}
.tableHeader{
    background-color:#98cb00;
    color:white;
}
.tableFirst {
    background-color: white;
    margin-left: 235px;
}
.refresh_button{
    font-size:18PX;
    font-family:Arial;
    color:#223850;
}
.refresh_image{
    height:22px;
    width:23px;
    vertical-align: middle;
}
.makePayment{
    height:25px;
    width:26px;
    vertical-align: middle;
}
.makePayment_image{
    padding-left:268px;
    font-size:18PX;
    font-family:Arial;
    color:#223850;
}
.endline{
    background-color:black;
    height:1px;
    margin-top:10px;
}
.thirdPart{
     margin-left: 230px;
}
#img
{
    height:80px;
    width:80px;
    margin-top:50px;
}
.image_Flower{
    display:flex;
    margin-left:20px;
    margin-right:20px;
    float:left;
    width: 30px;
    height: 100px;
    margin-top:60px;
}
.returns{
    font-size:20px;
    color:#223850;
}
.endfont{
    font-size:15px;
    color:#223850;
}
.endfont2{
    float:left;
    width:70%;
    font-size:15px;
    color:#223850;
}
.pay_image{
    float:left;
    width:30%;
}
.question_image {
    float: right;
    padding-right: 100px;
    padding-left:74px;
}
.question_image1 {
    padding-top:105px;
}
.button{
    border:none;
    background:white;
    vertical-align: middle;
}